[submodule "vim/vim.ln/bundle/vundle"]
	path = vim/vim.ln/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bash/bash-powerline"]
	path = bash/bash-powerline
	url = https://github.com/riobard/bash-powerline.git
